//- views/layout.pug
doctype html
html
    head
        title Course Registration System
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        //- Block for including custom head content (like styles)
        block head

    body
        //- Main content block where individual views will render their content
        block content
